div.explore h1 {
    color:white;
}
div.explore {
    display:flex;
    flex-direction: column;
    gap:29px;
    margin-bottom:29px;
    
   
}

div.explore img {
    height:400px;
    width:1170px;
    border-radius:12px;

}
div.des {
    position:absolute;
    color:white;
    top:40%;
    width:571px;
    left:22%;
    bottom:5%;
    
}   
div.des h1 {
    font-size:36px;
    text-shadow:-1px -1px 0 #000, 
    1px -1px 0 #000, 
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

div.des p {
    font-size: 16px;
    text-shadow:-1px -1px 0 #000,
    1px -1px 0 #000, 
    -1px 1px 0 #000, 
    1px 1px 0 #000; 
}
div.explore h2 {
    color:white;
}
div.banner img {
    -webkit-mask-image :linear-gradient(#100,rgba(0,0,0,0));
    mask-image: linear-gradient(#000,rgba(0,0,0,0)) ;
}
